.background {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e22299+25,701689+50,701689+50,e22299+75,701689+100 */
background: #e22299; /* Old browsers */
background: -moz-linear-gradient(45deg, #e22299 25%, #701689 50%, #701689 50%, #e22299 75%, #701689 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e22299 25%,#701689 50%,#701689 50%,#e22299 75%,#701689 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e22299 25%,#701689 50%,#701689 50%,#e22299 75%,#701689 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e22299', endColorstr='#701689',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  padding: 0;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: 200% 200%;
  -webkit-animation: Gradient 2s linear infinite;
  -moz-animation: Gradient 2s linear infinite;
  animation: Gradient 2s linear infinite;
}

.primarycolor  {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8800+0,ffec60+25,ff8800+50,ffec60+75,ff8800+100 */
  background: #ff8800; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ff8800 0%, #ffec60 25%, #ff8800 50%, #ffec60 75%, #ff8800 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff8800 0%,#ffec60 25%,#ff8800 50%,#ffec60 75%,#ff8800 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff8800 0%,#ffec60 25%,#ff8800 50%,#ffec60 75%,#ff8800 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#ff8800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: 200% 200%;
}

.movement {
  -webkit-animation: Gradient 1s linear infinite;
  -moz-animation: Gradient 1s linear infinite;
  animation: Gradient 1s linear infinite;
  background-size: 200% 200%;
}

.menu-container:hover {
  -webkit-animation: Gradient 1s linear infinite;
  -moz-animation: Gradient 1s linear infinite;
  animation: Gradient 1s linear infinite;
  background-size: 200% 200%;
}

.nav:hover {
  -webkit-animation: Gradient 0.8s linear infinite;
  -moz-animation: Gradient 0.8s linear infinite;
  animation: Gradient 0.8s linear infinite;
  background-size: 200% 200%;
}

.songbutton:hover {
  -webkit-animation: Gradient 1s linear infinite;
  -moz-animation: Gradient 1s linear infinite;
  animation: Gradient 1s linear infinite;
  background-size: 200% 200%;
}

.songbutton:active {
  -webkit-animation: Gradient 1s linear infinite;
  -moz-animation: Gradient 1s linear infinite;
  animation: Gradient 1s linear infinite;
  background-size: 200% 200%;

  transform: translateY(10px) translateX(10px);;
  webkit-box-shadow: 0px 0px 0; box-shadow: 0px 0px 0;
}

@-webkit-keyframes Gradient {
  0% {  background-position: 100% 0%
  }
  100% {  background-position: 0% 100%
  }
}

@-moz-keyframes Gradient {
  0% {  background-position: 100% 0%
  }
  100% {  background-position: 0% 100%
  }
}

@keyframes Gradient {
  0% {  background-position: 100% 0%
  }
  100% {  background-position: 0% 100%
  }
}
